<!DOCTYPE html>
<html lang="en">
<head>
  <%- header %>
</head>
<body style="color: #ad91ff;background-color: #1d1e28;">
<h6>
CsYBot Discord botunu kullanırken, bu sözleşmede yazan koşulları kabul edersiniz. Bu sayfadaki herhangi bir koşulu kabul etmiyorsanız, lütfen botu kullanmayı sonlandırınız.
</h6>
<h3>1. Gizlilik</h3>
<h6><a href="<%- base %>/rules/privacy">Gizlilik Politikası bir başka sayfada mevcuttur.</a> Botumuzu kullandığınız takdirde, verilerinizin işlenmesinin Gizlilik Politikası'na uygun olarak gerçekleştiğini kabul edersiniz.</h6>

<h3>2. Telif Hakları</h3>
<h6>Bu CsYBot Discord botunda yer alan metinler ve kullanılan yazılım dahil, tüm içeriğin sahibi bu internet sitesi olup, tüm hakları saklıdır. Yazılı izin olmaksızın site içeriğinin, CsYBot Discord Botunun çoğaltılması veya kopyalanması kesinlikle yasaktır.</h6>

<h3>3. Genel Hükümler</h3>
<h6><li>Bu site tarafından sunulan gizlilik politikası ve kullanım koşulları herhangi bir hukuki garanti sunmamakta olup, herhangi bir hukuki koruma sağlamamaktadır. Bu site tarafından sunulan gizlilik politikası ve kullanım koşulları sebebiyle, uğradığınız veya uğrayabileceğiniz zararlardan dolayı bu sitenin doğrudan ve/veya dolaylı hiçbir sorumluluğu bulunmamaktadır.</li></h6>
<h6><li>Kullanıcıların tamamı, CsYBot'u yalnızca hukuka uygun amaçlarla kullanacaklarını ve üçüncü kişilerin haklarına tecavüz teşkil edecek nitelikteki herhangi bir faaliyette bulunmayacaklarını taahhüt eder. Kullanıcıların CsYBot Discord botu dâhilinde yaptıkları işlem ve eylemlerindeki hukuki ve cezai sorumlulukları kendilerine aittir. İşbu iş ve eylemler sebebiyle, üçüncü kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı CsYBot Discord botunun doğrudan ve/veya dolaylı hiçbir sorumluluğu yoktur.</li></h6>
<h6><li>Bu sitedeki mevcut bilgilerin doğruluk ve güncelliğini sağlamak için elimizden geleni yapmaktayız. Ancak, gösterdiğimiz tüm bu çabaya rağmen, bu bilgiler, fiili değişikliklerin gerisinde kalabileceği gibi, birtakım farklılıklar olabilir. Bu sebeple, site içerisinde yer alan bilgilerin doğruluğu ve güncelliği ile ilgili tarafımızca, açık veya zımni, herhangi bir garanti verilmemekte, hiçbir taahhütte bulunulmamaktadır.</li></h6>
<h6><li>Bu sitede sunulan hizmetlerde, kusur veya hata olmayacağına ya da kesintisiz hizmet verileceğine dair garanti verilmemektedir. Bu sitenin hizmetlerine veya herhangi bir bölümüne olan erişiminizi daha önceden bildirmeksizin herhangi bir zamanda sonlandırabiliriz.</li></h6>

<h3>4. Sözleşme Güncellemeleri</h3>
<h6>Bu sayfadaki kullanım koşullarını herhangi bir zamanda bildirimde bulunmaksızın revize edebiliriz. CsYBot Discord Botunu kullanarak, bu kullanım koşullarınınen güncel sürümüne bağlı kalmayı kabul edersiniz.</h6>

<h3>5. Sorumluluğun Sınırlandırılması</h3>
<h6>CsYBot Discord Botunun kullanımından doğan zararlara ilişkin sorumluluğumuz, kast ve ağır ihmal ile sınırlıdır. Sözleşmenin ihlalinden doğan zararlarda, talep edilebilecek toplam tazminat, öngörülebilir hasarlar ile sınırlıdır. Yukarıda bahsedilen sorumluluk sınırlamaları aynı zamanda insan hayatına, bedeni yaralanmaya veya bir kişinin sağlığına gelebilecek zararlar durumunda geçerli değildir. Hukuken mücbir sebep sayılan tüm durumlarda, gecikme, ifa etmeme veya temerrütten dolayı, herhangi bir tazminat yükümlülüğümüz doğmayacaktır.</h6>

<h6>İşbu Sözleşme'nin uygulanmasından veya yorumlanmasından doğacak her türlü uyuşmazlığın çözümünde, Türkiye Cumhuriyeti yasaları uygulanır; Esenyurt (İstanbul) Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir.</h6>
  
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="<%- csybot.config.web.apipath %>/libs/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<%- realfooter %>
</body>
<%- pwa %>
</html>
